# Created by .ignore support plugin (hsz.mobi)
*
!.gitignore
!/db/
!/docker/
!README.md
!docker-compose.yml
!/docker/nginx/
!/docker/nginx/conf.d/
!/docker/nginx/conf.d/advanced.conf
!/docker/nginx/conf.dbasic/
!/docker/nginx/conf.dbasic/basic.conf
!/docker/php/
!/docker/php/build/
!/docker/php/php-fpm.conf
!/project/dir_to_project
!/project
!/docker/php/build/5.6/Dockerfile
!/docker/php/build/5.6/
!/docker/php/build/7.0/Dockerfile
!/docker/php/build/7.0/
!/docker/php/build/7.1/Dockerfile
!/docker/php/build/7.1/
!/docker/php/ini/zcustom.ini
!/docker/php/ini/
!/docker/redis/redis.conf
!/docker/redis/
!/docker/mongo/mongo.conf
!/docker/mongo/


